<nav style="gap: 2vw; display: flex; align-items: center; font-size: 1.1vw; ">
    <a style="font-size: 1.5vw; text-decoration: none; margin-right: 5vw;" href="/">Book📖Store</a>
    <a href="/">Home</a>
    <a href="/create">Add New Book</a>
    <a href="/library">All Books</a>
    <a href="/about">About Us</a>
</nav>