body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  color: red;
  text-align: center;
  padding-top: 2vw;
  font-size: 2vw;
}

input{
  padding: 0.8vw 2.5vw;
  font-size: 1.2vw;
}
textarea{
  padding: 0.8vw 2.5vw;
  font-size: 1.2vw;
}
button{
  padding: 0.8vw 4vw;
  font-size: 1.2vw;
}